.tooltip {
  max-width: 200px;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0 2px #fb5, 0 0 0 6px rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  padding: 0.5rem;
  color: #fff;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.875rem;
  font-weight: bold;
  z-index: 500;  
}
